footer {
  padding: 15px 0; }

#copyright {
  font-size: 10px;
  padding: 0; }

footer ul {
  list-style-type: none; }

footer li a {
  display: block;
  float: right;
  color: grey;
  padding: 0 3px;
  font-size: 10px; }

footer li a:hover {
  color:grey;
  text-decoration: none;}

#bottom-button {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  width: 43px;
  height: 43px;
  border-radius: 3px;
  background-color: lightseagreen;
  color: white;
  padding-top: 10px; }

#bottom-button:hover {
  background: #1a9e9e;
  color: white;}
